In [71]:
%matplotlib inline

In [72]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

# Read dataset GNI_Surface

### Import dataset

In [73]:
dfgni = pd.read_csv("GNI_Surface_Data.txt",sep="\t",header=0)
dfgni.head()

   Time Time Code    Country Name Country Code           GNI    Surface
0  2010    YR2010     Afghanistan          AFG  1.599880e+10   652860.0
1  2010    YR2010         Albania          ALB  1.180780e+10    28750.0
2  2010    YR2010         Algeria          DZA  1.608199e+11  2381740.0
3  2010    YR2010  American Samoa          ASM           NaN      200.0
4  2010    YR2010         Andorra          AND           NaN      470.0

### Drop rows with missing values

In [74]:
dfgni = dfgni.dropna()
dfgni

,Time,Time Code,Country Name,Country Code,GNI,Surface
0,2010,YR2010,Afghanistan,AFG,1.599880e+10,652860.0
1,2010,YR2010,Albania,ALB,1.180780e+10,28750.0
2,2010,YR2010,Algeria,DZA,1.608199e+11,2381740.0
5,2010,YR2010,Angola,AGO,7.443928e+10,1246700.0
6,2010,YR2010,Antigua and Barbuda,ATG,1.120980e+09,440.0
7,2010,YR2010,Arab World,ARB,2.091921e+12,13779283.0
8,2010,YR2010,Argentina,ARG,4.091479e+11,2780400.0
9,2010,YR2010,Armenia,ARM,9.718566e+09,29740.0
11,2010,YR2010,Australia,AUS,1.099736e+12,7741220.0
12,2010,YR2010,Austria,AUT,3.951709e+11,83879.0
13,2010,YR2010,Azerbaijan,AZE,4.973489e+10,86600.0
14,2010,YR2010,"Bahamas, The",BHS,7.675112e+09,13880.0
15,2010,YR2010,Bahrain,BHR,2.334013e+10,762.0
16,2010,YR2010,Bangladesh,BGD,1.246171e+11,148460.0
17,2010,YR2010,Barbados,BRB,4.362050e+09,430.0
18,2010,YR2010,Belarus,BLR,5.612622e+10,207600.0
19,2010,YR2010,Belgium,BEL,4.987890e+11,30530.0
20,2010,YR2010,Belize,BLZ,1.239593e+09,22970.0
21,2010,YR2010,Benin,BEN,6.916758e+09,114760.0
22,2010,YR2010,Bermuda,BMU,7.163899e+09,50.0
23,2010,YR2010,Bhutan,BTN,1.497492e+09,38394.0
24,2010,YR2010,Bolivia,BOL,1.878552e+10,1098580.0
25,2010,YR2010,Bosnia and Herzegovina,BIH,1.745615e+10,51210.0
26,2010,YR2010,Botswana,BWA,1.223710e+10,581730.0
27,2010,YR2010,Brazil,BRA,2.144024e+12,8515770.0
29,2010,YR2010,Brunei Darussalam,BRN,1.360689e+10,5770.0
30,2010,YR2010,Bulgaria,BGR,4.955618e+10,111000.0
31,2010,YR2010,Burkina Faso,BFA,8.744700e+09,274220.0
32,2010,YR2010,Burundi,BDI,2.014764e+09,27830.0
33,2010,YR2010,Cabo Verde,CPV,1.591147e+09,4030.0
...,...,...,...,...,...,...
231,2010,YR2010,Suriname,SUR,4.264098e+09,163820.0
232,2010,YR2010,Sweden,SWE,5.026816e+11,450300.0
233,2010,YR2010,Switzerland,CHE,6.163804e+11,41290.0
235,2010,YR2010,Tajikistan,TJK,6.969687e+09,142550.0
236,2010,YR2010,Tanzania,TZA,3.107783e+10,947300.0
237,2010,YR2010,Thailand,THA,3.268156e+11,513120.0
238,2010,YR2010,Timor-Leste,TLS,3.337447e+09,14870.0
239,2010,YR2010,Togo,TGO,2.761612e+09,56790.0
240,2010,YR2010,Tonga,TON,3.814213e+08,750.0
241,2010,YR2010,Trinidad and Tobago,TTO,2.107845e+10,5130.0
242,2010,YR2010,Tunisia,TUN,4.198351e+10,163610.0
243,2010,YR2010,Turkey,TUR,7.653866e+11,785350.0
244,2010,YR2010,Turkmenistan,TKM,2.068916e+10,488100.0
246,2010,YR2010,Tuvalu,TUV,5.091873e+07,30.0
247,2010,YR2010,Uganda,UGA,1.984912e+10,241550.0
248,2010,YR2010,Ukraine,UKR,1.340042e+11,603550.0
249,2010,YR2010,United Arab Emirates,ARE,2.897808e+11,83600.0
250,2010,YR2010,United Kingdom,GBR,2.460887e+12,243610.0
251,2010,YR2010,United States,USA,1.512113e+13,9831510.0
252,2010,YR2010,Upper middle income,UMC,1.511562e+13,56967185.0
253,2010,YR2010,Uruguay,URY,3.878197e+10,176220.0
254,2010,YR2010,Uzbekistan,UZB,4.052778e+10,447400.0
255,2010,YR2010,Vanuatu,VUT,6.757211e+08,12190.0
256,2010,YR2010,"Venezuela, RB",VEN,3.883414e+11,912050.0
257,2010,YR2010,Vietnam,VNM,1.115128e+11,330954.0
259,2010,YR2010,West Bank and Gaza,PSE,9.512200e+09,6020.0
260,2010,YR2010,World,WLD,6.591609e+13,134311372.1
261,2010,YR2010,"Yemen, Rep.",YEM,2.908777e+10,527970.0
262,2010,YR2010,Zambia,ZMB,1.890254e+10,752610.0
263,2010,YR2010,Zimbabwe,ZWE,8.714543e+09,390760.0

# Read dataset

### Import dataset

In [75]:
dfautres = pd.read_csv("autres_Data.txt",sep="\t",header=0)
dfautres.head()

,Time,Time Code,Country Name,Country Code,Gvnt_health_exp,Food Deficit,Life Expectancy,Nat_resources_rents
0,2010,YR2010,Afghanistan,AFG,0.469157,158.0,61.226,0.732845
1,2010,YR2010,Albania,ALB,2.512062,NaN,76.652,2.070109
2,2010,YR2010,Algeria,DZA,3.555519,40.0,74.676,19.977893
3,2010,YR2010,American Samoa,ASM,NaN,NaN,NaN,0.000000
4,2010,YR2010,Andorra,AND,6.328402,NaN,NaN,0.000000

### Drop rows with missing values

In [76]:
dfautres = dfautres.dropna()
dfautres.head()

,Time,Time Code,Country Name,Country Code,Gvnt_health_exp,Food Deficit,Life Expectancy,Nat_resources_rents
0,2010,YR2010,Afghanistan,AFG,0.469157,158.000000,61.226000,0.732845
2,2010,YR2010,Algeria,DZA,3.555519,40.000000,74.676000,19.977893
5,2010,YR2010,Angola,AGO,1.704052,149.000000,58.192000,39.037754
7,2010,YR2010,Arab World,ARB,2.355628,73.402535,70.041054,27.643199
8,2010,YR2010,Argentina,ARG,3.710831,10.000000,75.595000,3.137998

# Merge datasets

In [80]:
data = pd.merge(dfgni, dfautres, how='inner', on=['Country Name', 'Country Code'])

In [81]:
data=data.drop(columns=['Time_x', 'Time Code_x', 'Time_y', 'Time Code_y' ])

In [82]:
# set index with country code
data = data.set_index('Country Code')

In [83]:
data.head()

,Country Name,GNI,Surface,Gvnt_health_exp,Food Deficit,Life Expectancy,Nat_resources_rents
Country Code,,,,,,,
AFG,Afghanistan,1.599880e+10,652860.0,0.469157,158.000000,61.226000,0.732845
DZA,Algeria,1.608199e+11,2381740.0,3.555519,40.000000,74.676000,19.977893
AGO,Angola,7.443928e+10,1246700.0,1.704052,149.000000,58.192000,39.037754
ARB,Arab World,2.091921e+12,13779283.0,2.355628,73.402535,70.041054,27.643199
ARG,Argentina,4.091479e+11,2780400.0,3.710831,10.000000,75.595000,3.137998

In [84]:
len(data)

146